.foooterContainer{
    height: max-content;
    color: white;
    background: black;
}

.footerWrapper{
    margin: 0 7rem;
    padding: 3rem 0;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footerWrapper p{
padding: 0.5rem;
}

.lemonColor{
    font-size: 20px;
    color:#B8FD50;
    font-weight: bold;
}

.lastWrapper{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.lastWrapper a{
    color: white;
    padding: 2rem;
    text-decoration: none;
}
