* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    vertical-align: middle;
}

body,
html {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}
